<div class="mx-2 grid grid-col-3 md:grid-cols-6 md:py-10 xl:mx-10 md:py-8", data-controller="shop">
  <!-- Side Images -->
  <%= render 'products/show/side_images' %>

  <!-- Main Image -->
  <%= render 'products/show/main_image', image: @product.image %>

  <!-- Information -->
  <%= render 'products/show/information' %>
</div>
