<div id='main-image' class="flex items-center md:pr-8 w-40 h-80 col-span-2 sm:w-[70vw] md:w-auto h-full">
  <%= image_tag image,  class: "w-full h-full md:h-[60vh] rounded-lg m-2", data: {shop_target: "mainImage"} %>
</div>

