<div id='side-images' class="flex flex-col col-span-1 align-center items-end justify-center h-auto w-25 sm:w-60">
  <% @selected.images.each_with_index do |image, index| %>
      <button class="hover:shadow-lg hover:shadow-black md:m-2">
        <%= image_tag image, class: "w-20 sm:w-32 m-2 md:w-[8vw]" %>
      </button>
  <% end %>
</div>

