<div id="admin-content" class="flex flex-col">
    <h1> Messages </h1>

    <% messages.each do |message| %>
        <div class="flex flex-col">
            <div class="flex flex-row">
                <p class="font-bold">From: </p>
                <p> <%= message.user.first_name %> </p>
            </div>

            <div class="flex flex-row">
                <p class="font-bold">Message: </p>
                <p> <%= message.message %> </p>
            </div>

            <div class="flex flex-row">
                <p class="font-bold">Contact Details </p>
                <p> <%= message.user.email %> | <%= message.user.phone %> </p>
            </div>
        </div>
    <% end %>
</div>