<div id="order-modal" class="absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white rounded-lg w-full md:w-1/2">
        <div class="flex justify-between items-center px-4 py-2">
            <h1 class="text-xl font-bold">Manage Order</h1>
            <button id="close" class="text-xl font-bold hover:text-gray-400">&times;</button>
        </div>
        <div class="px-4 py-2 w-full">
            <%= render "admin/orders/form", order: order %>
        </div>
    </div>
</div>

<script>
    document.getElementById("close").addEventListener("click", function() {
        document.getElementById("order-modal").classList.add("hidden");
    });
</script>