<div id="admin-content" class="flex flex-col">
    <div class="flex flex-col max-h-[75vh] overflow-y-auto">
        <% orders.each do |order| %>
            <%= render 'admin/orders/order', order: order %>
        <% end %>

        <% if orders.empty? %>
            <div class="flex justify-center items-center h-[75vh]">
                <p class="text-2xl text-gray-500">No orders in</p>
            </div>
        <% end %>

        <div id="order-modal">
        </div>
    </div>
</div>

