<div id="user-content" class="h-full flex flex-col justify-center items-center">

  <h1 class="text-3xl font-bold mb-10 md:px-80 md:mb-20">HELP</h1>

  <%= form_with(model: @help_message, url: help_messages_user_path, method: :post, class: "flex flex-col items-center w-full") do |form| %>
    <div class="mb-4 w-full">
      <%= form.text_field :title, required: true, autofocus: true, autocomplete: "title", placeholder: "Title...", class: "w-full" %>
    </div>

    <div class="mb-4 w-full">
      <%= form.text_area :message, required: true, placeholder: "Write your message here...", class: "w-full min-h-[40vh]" %>
    </div>

    <div>
      <%= form.submit 'Send Message', class: "bg-black text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-700" %>
    </div>
  <% end %>
</div>

