<div id="user-content" class="h-full flex flex-col justify-center items-center md:px-10 w-full overflow-x-auto">
  <h1 class="text-3xl font-bold md:px-80 md:mb-20">MY ORDERS</h1>

  <div class="flex flex-col w-full overflow-x-auto md:overflow-hidden">
    <% @orders.each do |order| %>
      <div class="flex flex-col md:grid md:grid-cols-5 md:gap-4 mb-4">
        <div class="col-span-1 border-b border-gray-200 md:mb-4 md:bg-white md:p-4 md:rounded-lg md:shadow-lg md:mr-4 md:h-full md:w-full">
          <h2 class="text-xl font-semibold md:mb-4">Order #<%= order.id %></h2>
          <p class="text-l font-semibold mb-4"><%= order.created_at.to_formatted_s(:long) %></p>
        </div>

        <div class="flex md:col-span-4 md:grid md:grid-cols-3 md:gap-8 bg-white p-4 rounded-lg shadow-lg w-100 overflow-x-auto md:overflow-hidden">
          <% order.order_products.each do |item| %>
            <%= render 'users/item', item: item, returnable: false %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>