<section id="products" class="flex flex-wrap justify-between py-5 px-20">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <% render "products/product_cart", product: product %>
    <% end %>   
  <% end %>
</section>