<div class="flex flex-col items-center justify-center">
  <h2 class="text-xl font-bold py-4">Quantity</h2>

  <button class="btn btn-primary p-4 bg-gray-800 text-white text-xl rounded-xl rounded-full hover:shadow-lg hover:shadow-black" data-action="click->quantity#increment">+</button>
  <p class="text-2xl font-bold p-4">1</p>
  <button class="btn btn-primary p-4 bg-gray-800 text-white text-xl rounded-xl rounded-full hover:shadow-lg hover:shadow-black" data-action="click->quantity#decrement">-</button>
</div>
