<span id="cart-count" class="absolute top-0 right-0 text-xl text-primary rounded-full px-1 text-xs font-bold transform translate-x-1/2 -translate-y-2/3">
    <%= @user && @user.cart ? @user.cart.product_colors.count : nil %> <!-- Replace with your actual cart count logic -->
</span>