<div id="returnables">
    <div class="md:col-span-4 md:grid md:grid-cols-3 md:gap-8 bg-white p-4 rounded-lg shadow-lg">
        <% products.each do |product| %>
            <%= render 'users/item', item: product, returnable: true %>
        <% end %>
    </div>

    <div class="flex items-center justify-center">
      <div id="exchange"></div>
    </div>
</div>

