<div id='results' class="flex flex-col flex-wrap justify-center items-center bg-primary md:px-40 md:items-end">
  <% if @results_products %>
    <% @results_products.each do |product| %>
      <%= link_to product.name, product_path(product), class: "w-full h-full text-right hover:opacity-75 text-lg text-white transition-opacity duration-300 transition-transform hover:scale-105" %>
    <% end %>
  <% end %>
</div>

