<div id="<%= dom_id shipment %>">
  <p>
    <strong>Order:</strong>
    <%= shipment.order_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= shipment.customer_id %>
  </p>

  <p>
    <strong>Shipment service:</strong>
    <%= shipment.shipment_service %>
  </p>

</div>
