<nav class="p-4 h-[5vh]"> <!-- Navigation Links -->
    <ul class="flex items-center space-x-4">
        <!-- Cart Icon -->
        <li>
            <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/cart' : new_user_session_path do %>
            <i class="fas fa-shopping-cart text-black"></i>
            <% end %>
        </li>

        <!-- Wishlist Icon -->
        <li>
            <%= link_to user_signed_in? ? '/users/' + current_user.id.to_s + '/wishlist' : new_user_session_path do %>
            <i class="fas fa-heart text-black"></i>
            <% end %>
        </li>

        <!-- Login Button -->
        <li>
            <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, 'data-turbo-method': :delete %>
            <% else %>
            <%= link_to "Login", new_user_session_path, class: "text-black" %>
            <% end %>
        </li>
    </ul>
</nav>
